<h1 align="center">Tạo sản phẩm mới</h1>
<form [formGroup]="createProductForm" (ngSubmit)="submit()">
  <table align="center">
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Tạo mới</button>
        <button><a routerLink="" style="text-decoration: none">Hủy</a></button>
      </td>
    </tr>
  </table>
</form>
